@import './base.css';
@import './fonts/stylesheet.css';

:root {
 --el-color-primary-red: #D90E32;
  --el-color-primary-dark-red: #A60933;
  --el-color-primary-dark: #282828;
  --el-color-primary-light-grey: #F3F6F8;
  --el-color-text-black: #293148;
  --el-color-text-dark-grey: #545A6D;
  --el-color-text-grey: #7F8391;
  --el-color-text-light-grey: #9EA2AC;
  --el-color-text-line-grey: #E4E4E4;
  --el-color-text-white: #FFF;
  --el-color-text-white-45: rgba(255, 255, 255, 0.45);
  --el-color-text-white-20: rgba(255, 255, 255, 0.2);
  --el-color-secondary-dark-red: #59051C;
  --el-color-secondary-light-red: #E86E84;
  --el-color-secondary-blue: #7895FF;
  --el-color-secondary-green: #7FC75E;
  --el-color-secondary-grey: #EDEDED;
 /* background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); */
  
}

#app {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'DM Sans', Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--el-color-black);
}

h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}

h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}


label {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
}

.navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}

.text-medium {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.text-bold {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.text-medium-3 {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

.text-regular {
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}

.helper {
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
}

.btn-1 {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-2 {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.aside-menu {
  width: 256px;
  height: 100vh;
  border-radius: 20px 0 0 20px;
}

.menu-vertical {
  height: 100%;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
  border: 0;
  border-radius: 20px 0 0 20px;
  background-image: url(../assets/image/wave.svg);
  background-position: bottom;
  background-repeat: no-repeat;
}

.menu__item-logo {
  width: 100%;
  height: auto;  
  padding: 0 !important;
  cursor: default;
}

.menu__item-logo:hover,
.menu__item-logo:focus,
.menu__item-logo:focus-visible {
  background-color: inherit;
  border-radius: 20px 0 0;
}

.menu__logo > .el-image__inner {
  width: 123px;
height: 24px;
margin: 30px 77px 102px 56px;
  cursor: pointer;
}

.menu__item {
  height: 48px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 16px;
  padding: 12px 28px 12px 30px !important;
  color: var(--el-color-text-white-45);
}

.menu__item.is-active {
  background-color: var(--el-color-text-dark-grey);
border-left: 2px solid var(--el-color-primary-red);
}

.menu__item:hover,
.menu__item:focus,
.menu__item:focus-visible
 {
  background-color: var(--el-color-text-dark-grey);
}

.menu__item:hover > .navigation,
.menu__item:focus > .navigation,
.menu__item:focus-visible > .navigation
 {
  color: var(--el-color-text-white);
  transition: border-color var(--el-transition-duration), background-color var(--el-transition-duration), color var(--el-transition-duration);
}

.menu__item.is-active > .navigation {
  color: var(--el-color-text-white);
}

.menu__item_icon {
  width: 24px;
  height: 24px;
  color: var(--el-color-text-white-45);
}
